@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .custom-container {
    @apply m-4 p-4 bg-slate-800 bg-opacity-10 backdrop-blur-[6px] rounded-lg;
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center w-12 h-12 mx-auto mt-2 mb-2 text-purple-500 transition-all duration-300 ease-linear bg-gray-800 shadow-lg hover:bg-purple-600 hover:text-white rounded-3xl hover:rounded-xl;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 text-xs font-bold text-white transition-all duration-500 origin-left scale-0 bg-gray-900 rounded-md shadow-md min-w-max left-14;
  }

  .btn {
    @apply bg-white text-black px-4 py-2 rounded font-medium inline-flex items-center justify-center tracking-tighter;
  }

  .btn-primary {
    @apply bg-white text-black;
  }

  .btn-text {
    @apply text-white bg-transparent;
  }

  .logo-ticker-image {
    @apply h-8 w-auto;
  }

  .tag {
    @apply text-sm inline-flex border border-[#222]/10 px-3 py-1 rounded-lg tracking-tight;
  }

  .section-title {
    @apply text-center text-3xl md:text-[54px] md:leading-[60px] font-bold tracking-tighter bg-gradient-to-b from-white to-purple-600 py-4 bg-clip-text text-transparent;
  }

  .section-description {
    @apply text-center text-[22px] leading-[30px] tracking-tight;
  }
}

body {
  color: white;
}
